<% include include/header.ejs %>
<link rel="stylesheet" href="css/doc.css">
<div class="main-content">

    <div class="banner">
        <div class="banner-content">
            <h1><%= title %></h1>
            <p class="info"><%= desc %></p>
        </div>
    </div>
    <div class="content"> 

        <div class="content-area">

            <h2 id="css3动效">CSS3动效</h2>

            <div class="jsmodule-content module-css3">
                <ul id="cssCase" class="cwf-list"></ul>
            </div>

            <h2 id="使用硬件传感器api">使用硬件传感器api</h2>

            <div class="js-module-content module-api">
                <ul id="apiCase" class="cwf-list"></ul>
            </div>
        </div>
    </div>
   
</div>



<script src="js/case.js"></script>
<% include include/footer.ejs %>
