<% include include/header.ejs%>


<div class="main-area">
    <div class="content-area">
        <div class="content">
            <link rel="stylesheet" type="text/css" href="http://frozenui.github.io/static/index.css">

            <div class="fr-banner">
                <div class="fr-banner-content">
                    <h3>简单易用，轻量快捷，<br/>为移动端服务的前端框架。</h3>
                    <img src="http://frozenui.github.io/static/phones.png" class="fr-banner-ph">
                    <div class="fr-banner-btn">
                        <a href="http://frozenui.github.io/start.html">开始使用</a>
                        <a href="https://github.com/frozenui/frozenui/archive/1.3.0.zip">下载</a>
                    </div>
                </div>
            </div>
            <div class="fr-content">
                <div class="fr-item">
                    <img src="http://frozenui.github.io/static/ui.png" alt="frozenui">
                    <div class="fr-item-info fr-frozenui">
                        <h2>随心所用的样式组件</h2>
                        <p>FrozenUI提供的CSS组件是目前QQ会员前端开发组所用的通用样式库。遵循手Q样式规范，基本样式使用离线包的方式减少请求，并提供快速接入的方案。</p>
                        <a href="http://frozenui.github.io/base.html">查 看</a>
                    </div>
                </div>
                <div class="fr-item">
                    <img src="http://frozenui.github.io/static/js.png" alt="frozenjs" class="fr-frozenjs-img">
                    <div class="fr-item-info fr-frozenjs">
                        <h2>更显灵动的JS插件</h2>
                        <p>FrozenUI提供的一系列JavaScript插件，更优雅地在移动端上呈现更灵动的动画效果。</p>
                        <a href="http://frozenui.github.io/frozenjs">查 看</a>
                    </div>
                </div>
                <div class="fr-item">
                    <img src="http://frozenui.github.io/static/case.png" alt="animation case">
                    <div class="fr-item-info fr-frozenui">
                        <h2>酷炫好玩的案例秀</h2>
                        <p>FrozenUI提供的Animation case，把业务上有趣好玩的案例沉淀下来，帮助日后能更快速找到设计灵感。</p>
                        <a href="http://frozenui.github.io/case.html">查 看</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<% include include/footer.ejs%>

