<% include include/header.ejs %>
<div class="main-area">
    <div class="side-area">
    </div>
    <div class="content-area">
        <h1><%=  title %></h1>
        <div class="content">
            
        </div>
    </div>
</div>
<% include include/footer.ejs %>
