<ul>
    <% for(var i = 0; i < demos.length; i++ ) { %>
        <li data-id="<%= demos[i].name %>">
            <a href="#<%= demos[i].name %>"><%= demos[i].title %></a>
        </li>
    <% } %>
</ul>

